.item {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: .2em;
    padding: .2em .2em .2em .6em;
}

.itemName {
    cursor: pointer;
}

.innerListItem {
    position: relative;
    width: 200px;
    align-self: flex-end;
}
