.search {
    display: flex;
    margin-bottom: .4em;
}

.input {
    border-radius:  .2em  0 0 .2em;
}

.smallBtn {
    width: 21px;
    border-left: none;
    border-radius:  0 .2em .2em 0;
    padding: 0;
}

.searchBlock {
    margin-right: 1.2em;
}